.dialog a {
  color: white;
  text-decoration: none;
  } 

.dialog a:hover {
    color: goldenrod;
    text-decoration: none;
    } 

dialog a.active{
      color: orange;
      text-decoration: none;
      } 