   
.logo {
  height: 100px;
  width: 100px;
  padding: 15px;
}

.link {
  color: white;
}

.link a{
  color: white;
  text-decoration: none;
}
.link a.active{
  color: orange;
  text-decoration: none;
}

.link a:hover{
  color: goldenrod;
  text-decoration: none;
}