.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "head head"
  "navig cont";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: cont;
  background-color: #3b555d;
}