/* .app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "head head"
  "navig cont";
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: cont;
  background-color: #3b555d;
} */

.bg-header-colour {
  background-color: #233237;
}

.bg-navbar-colour {
  background-color:#204d48;
}

.bg-content-colour {
  background-color: #3b555d;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: 0px !important;
}


.overflowHack{
  overflow: auto;
}

.row {
  margin: 0px !important;
}